<div class="container">
  <div class="d-flex">
    <div>
      <ul>
        <li>DO YOU HAVE ANY QUESTIONS?</li>
        <li>adiscafendine@adis.com</li>
      </ul>
    </div>
    <div>
      <ul>
        <li></li>
        <li>
          <ul>
            <li><a href=""><fa-icon [icon]="faInsta"></fa-icon></a></li>
            <li><a href=""><fa-icon [icon]="faFacebook"></fa-icon></a></li>
            <li><a href=""><fa-icon [icon]="faWhatsapp"></fa-icon></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>BOOK A TABKE</li>
        <li>83600 32762</li>
      </ul>
    </div>
    <div>
      credits
      <a href='https://www.freepik.com/photos/paint-texture'>Paint texture photo created by rawpixel.com - www.freepik.com</a>
      <a href='https://www.freepik.com/photos/black-texture'>Black texture photo created by rawpixel.com - www.freepik.com</a>
    </div>
  </div>
  <div>
    <p>&#169; 2022 Adis Cafe & Dine | All Rights Reserved | Made by Mayank</p>
  </div>
</div>
