<nav class="navbar position-fixed w-100">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" routerLink="home"><img src="../../assets/img/Adi_s_Cafe_logo.png"></a>
    <div class="d-flex">
      <ul class="navbar-nav me-2">
        <li class="nav-item">
          <a routerLink="menu" class="nav-link">MENU</a>
        </li>
      </ul>
      <form class="d-flex me-2" role="action">
        <button class="btn cta" type="button">Book Now</button>
      </form>
    </div>
  </div>
</nav>
<div class="next"></div>
